/* General */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-bottom: 20px;
}

nav,
footer {
  min-height: 100px;
  height: auto;
}

header h1 {
  text-align: center;
  font-size: 2em;
}

/* Layout */
.container {
  padding: 10px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Navigation */

nav {
  background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0.5));
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a {
  display: block;
  width: 6em;
  text-decoration: none;
  color: white;
  background-color: green;
  border-right: 1px solid white;

  padding: 5px;
  text-align: center;
}

nav ul a:hover {
  background-color: #45a049;
}

nav img {
  margin-bottom: 10px; /* Adds spacing between the logo and the nav links */
  width: 150px;
  height: 150px;
  object-fit: contain; /* Ensures the logo maintains its aspect ratio */
}

footer {
  background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0.5));
  border: none;
  width: 100%;
  height: 270px;
  margin-top: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}

/* Forms */
form {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type='text'],
input[type='address'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'],
input[type='reset'] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

input[type='submit']:hover,
input[type='reset']:hover {
  background-color: #45a049;
}
